<div class="row  align-items-center justify-content-center">
  <div class="mainbox containter50 col-md-12 col-md-offset-3 col-sm-12 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          <h1> Welcome {{username}} !</h1>
        </div>
      </div>
      <div class="panel-body panel-pad">
        <div class="row justify-content-center">
          <p> dashboard works for {{username}} !</p>
        </div>
        <div class="row justify-content-center">
          <div class="col-xs-12 form-group">
            <button class="btn btn-success" (click)="setValue()" type="button">Redirect to error</button>
            <button (click)="setIncreamentals()" class="btn">Open 1</button>
             <app-dialogue [template]="myTemplate" [(visible)]="showDialog1">
              do something
            </app-dialogue>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <footers></footers> -->